<% content_for(:title) do %>Sidekiq<% end %>
<div id="main" style="display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;">
  <iframe src="<%= sidekiq_web_path %>" style="border: 0; -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;">
  </iframe>
</div>
