<%= will_paginate @problem_sets %>
<% @colspan = 3 %>
<table class="main_table hoverable">
  <thead>
    <tr>
      <th width="100%">Title</th>
      <th>Progress</th>
      <th></th>
      <% if policy(ProblemSet).update? %>
        <% @colspan += 1 %>
        <th></th>
      <% end %>
      <% if policy(ProblemSet).destroy? %>
        <% @colspan += 1 %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @problem_sets.each do |problem_set| %>
  <%= render partial: "item", locals: {problem_set: problem_set, edit_links: true} %>
<% end %>
  </tbody>
</table>
<%= will_paginate @problem_sets %>

