.bundle
/db/*.sqlite3
/log/*.log
/tmp/
*~
*.swp
.sass-cache/
/public/assets/
/public/uploads/tmp/
/db/data/
/config/backup.yml
/config/database.yml
/config/unicorn.yml
/config/isolate.yml
/config/redis.yml
/config/secret_key_base.*.txt
/script/install.cfg
/script/update.time
/db/backup/
/db/backups/
/.fontello
/coverage/
/vendor/bundle

