<% content_for :title, "Contests" %>
<div id="main-page-title">Listing contests</div>

<%= render 'index' %>
<br>
<% if permitted_to? :create, :contests %>
  <%= link_to 'New Contest', new_contest_path %>
<% end %>
