<% if !@contest.started? && !@contest.start_time.nil? %>
  <script type="text/javascript">
  <!--
    window.setTimeout("window.location.reload(true);", <%= ((@contest.start_time-Time.now())*1000).round %>);
  //-->
  </script>
<% end %>

<% if false && !@contest_relation.nil? %>
  <h2>Contest Registration</h2>

  <strong>Country: </strong><%= @contest_relation.country_code %>
  <strong>School: </strong><%= @contest_relation.school.name %>
<% end %>

<h2>Contest Settings</h2>
<b>Mode: </b>Closed book (you cannot access other problems on the site while competing)<br>
<b>Judge feedback: </b>Real-time<br>
<b>Scoreboard: </b>
<% if @contest.live_scoreboard %>
  Live
<% else %>
  Hidden (you can only see your own score until the end of the contest)
<% end %>
<br>

