<% if !@contest_message.nil? %>
  <p><%= @contest_message %></p>
<% end %>

<p>
<table class="main_table" >
  <tr>
    <th> Problem </th>
    <th> Score </th>
    <th> # Correct </th>
  </tr>

  <% @problems.each do |problem| %>
    <tr>
      <td> <%= link_to problem.name, problem_path(problem) %> </td>
      <td> <%= @contest.problem_score(current_user, problem) %> </td>
      <td> <%= @contest.num_solved(problem) %> </td>
    </tr>
  <% end %>
</table>
</p>

