<% content_for :title, "Problems" %>
<div id="main-page-title-box"><h1>Problems</h1></div>
<table class="main_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Input</th>
      <th>Output</th>
      <th>Memory limit</th>
      <th>Time limit</th>
      <th>Owner</th>
      <th>Score</th>
      <% if permitted_to? :update, :problems %>
        <th></th>
      <% end %>
      <% if permitted_to? :destroy, :problems %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% fields = [:linked_title, :input, :output, :memory_limit, :time_limit, :linked_owner, :progress_bar] %>
<% fields << :edit_link if permitted_to? :update, :problems %>
<% fields << :destroy_link if permitted_to? :destroy, :problems %>
<% @problems.each do |problem| %>
  <tr>
    <% present problem do |problem_presenter| %>
      <%= problem_presenter.present :td, *fields %>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<% if permitted_to? :create, :problems %>
  <%= link_to 'New Problem', new_problem_path %>
<% end %>
