<% content_for :title, "Problems" %>
<% toolbox_push :new, new_problem_path if policy(Problem).create? %>

<% columns = {:test_status => "",
              :linked_name => "Name",
              :input => "Input",
              :output => "Output",
              :memory_limit => "Memory Limt",
              :time_limit => "Time Limit",
              :linked_owner => "Owner",
              :progress_bar => "Progress",
              :edit_link => "",
              :destroy_link => ""} %>
<table class="main_table">
  <thead>
    <tr>
      <% @problems_presenter.select_permitted(*columns.keys).each do |key| %>
        <th><%= columns[key] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @problems_presenter.each do |problem_presenter| %>
  <tr>
    <% problem_presenter.presents(*columns.keys).each do |value| %>
      <%= content_tag :td, value %>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>

<br />

