* {
   margin: 0;
   padding: 0;
   font-family: Arial;
   color: #2D2D2D;
}

a {
   color: #2D2D2D;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

#side {
   position: fixed;
   width: 300px;
   height: 100%;
   background: #2D2D2D;
   border-right: 1px solid #9A9A9A;
   border-radius: 3px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   padding-left: 10px;
   color: white;
}

#side-minify {
	position: fixed;
	color: white;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 273px;
	width: 19px;
	padding: 6px;
	bottom: 10px;
	color: #666;
	background-color: #333;
	cursor: pointer;
	padding-right: 2px;
}

#side-minify:hover {
	background-color: #EEE;
	color: #2D2D2D;
	border-right: 1px solid #F5F5F5;
}


#main {
   width: 100%;
   height: 100%;
   float: left;
   display: none;
}

#main-message-container {
   margin: 10px;
   margin-left: 322px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   padding: 10px;
   border: 1px solid #C1C1C1;
   text-align: center;
   background-color: #333;
   color: #FAFAFA;	
}

#main-container
{
   margin: 10px;
   margin-left: 322px;
   padding: 10px;
}

#main-message-container-close {
   float: right;
   background: #333;
   border: 1px solid #C1C1C1;
   border-left: none;
   color: white;
   padding-top: 3px;
   margin: 10px;
   padding: 10px;
   border-radius: 3px;
   margin-right: -68px;
   margin-top: -30px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   cursor: pointer;
}

#main-message-container-close:hover
{
   background-color: #666;
   color: black;
}

#side-logo
{
   width: 270px;
   height: 320px;
   background: url("/images/logo.svg");
   background-size: 100%;
   margin-left: 15px;
   margin-top: 25px;
}

#side-title {
   text-align: center;
   width: 100%;
   margin-top: 10px;
   color: white;
   font-weight: bold;
   padding-bottom: 30px;
}

#side ul {
   font-weight: bold;
}

#side ul li {
   cursor: pointer;
}

#side ul li:hover {
   text-decoration: underline;
   color: #FAFAFA;
   user-select: none;
}

#side a {
   color: white;
   text-decoration: none;
}

.nav-uac
{
	font-weight: normal;
}

#uac-user {
	color: white;
	font-weight: bold;
	
}

#uac-user:hover
{
	text-decoration: underline;
}

.main_table, #main-container table{	
   border-collapse: collapse;
   border: 1px solid #DDD;
}

.main_table, #main-container  tr {
   border: 1px solid #DDD;
}

.main_table, #main-container  tr:hover {
   background-color: #EEE;
}

.main_table, #main-container th {
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
   padding-top: 2px;
}

.main-table-highlight {
	background-color: #D2D2D2;
}

.main-table-highlight:hover {
	background-color: #D2D2D2 !important;
} 


.main_table td {
   padding-left: 10px;
   padding-right: 10px;
   border: 1px solid #DDD;
   padding-top: 2px;
}

#main-page-title
{

   font-size: 2.5em;
   margin-bottom: 25px;
}

#main-container pre {
	padding: 4px;
	border: 1px solid #D2D2D2;
	background-color: #EEE;
	font-family: monospace;
	overflow-x: scroll;
}

#main-container h1, h2, h3, h4, h5, h6, h7 {
	margin-left: -2px;
	margin-top: 14px;
	margin-bottom: 2px;
}

input, select {
	padding: 4px;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 3px;
}

input[type="file"] {
	border: 1px solid #d2d2d2;
}

input[type!="submit"]:focus {
	box-shadow: 1px 1px 4px 1px #2d2d2d;
}
