<% @colspan = 3 %>
<table class="main_table hoverable">
  <thead>
    <tr>
      <th width="100%">Name</th>
      <th>Progress</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @problem_set_associations.each do |association| %>
  <% problem_set = association.problem_set %>
  <%= render partial: 'problem_sets/item', locals: {problem_set: problem_set} %>

<% end %>
  </tbody>
</table>

