<table class="main_table" >
  <thead>
    <tr>
      <th>Username</th>
      <% if permitted_to? :inspect, User %>
        <th>Name</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <% if permitted_to? :inspect, User %>
          <td><%= user.name if permitted_to? :inspect, user %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

