<table class="main_table" >
  <thead>
    <tr>
      <th>Username</th>
      <% if policy(user).inspect? %>
        <th>Name</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <% if policy(User).inspect? %>
          <td><%= user.name if policy(user).inspect? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

