<p id="notice"><%= notice %></p>

<% content_for :title, "Setting #{@setting.key}" %>
<% toolbox_push :edit, edit_setting_path(@setting) %>
<% toolbox_push :back, settings_path %>

<p>
  <b>Key:</b>
  <%= @setting.key %>
</p>

<p>
  <b>Value:</b>
  <%= @setting.value %>
</p>
