<% content_for :title, "Editing Submission" %>
<div id="main-page-title-box"><h1>Editing submission</h1></div>

<%= render 'form' %>

<%= link_to 'Show', @submission %> |
<%= link_to 'Back', submissions_path %>
