<% if current_user.id == params[:by_user].to_i %>
  <% content_for :title, "My submissions" %>
<% else %>
  <% content_for :title, "Submissions" %>
  <% if current_user.is_admin? && !params[:by_user].nil?
       u = User.find(params[:by_user]) %>
    <p><b>User:</b> <%= link_to handle(u), u %></p>
  <% end %>
<% end %>
<% if params[:by_problem] && !params[:by_problem].nil?
     p = Problem.find(params[:by_problem]) %>
  <p><b>Problem:</b> <%= link_to p.name, p %></p>
<% end %>
<%= render "page" %>
<% # :reload => '[{"urlregex":"page=([0-9]+)","regexindex":1},{"query":"page"}]' # :reload => [{:urlregex => "page=([0-9]+)", :regexindex => 1},{:query => "page"}] %>
