<% iteration_limit = @ai_contest.end_time < DateTime.now ? @ai_contest.iterations : @ai_contest.iterations_preview %>
<table>
  <tr style="">
    <th>
    </th>
    <% @submissions.each do |sub1| %>
      <td height="150px">
        <p align="center" style="vertical-align: middle; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);">
        <%= link_to "#{sub1.name} (#{sub1.user.username})", sub1 %>
        </p>
      </td>
    <% end %>
    <th>Total</th>
  </tr>
  <% @submissions.each do |sub1| %>
    <tr>
      <td>
        <%= link_to "#{sub1.name} (#{sub1.user.username})", sub1 %>
      </td>
      <% total_score = 0 %>
      <% @submissions.each do |sub2| %>
        <td>
          <p align="center">
            <% score = AiContestGame.where(:ai_contest_id => @ai_contest.id, :ai_submission_1_id => sub1.id, :ai_submission_2_id => sub2.id, :iteration => 0...iteration_limit).sum(:score_1) %>
            <% score += AiContestGame.where(:ai_contest_id => @ai_contest.id, :ai_submission_1_id => sub2.id, :ai_submission_2_id => sub1.id, :iteration => 0...iteration_limit).sum(:score_2) %>
            <%= score %>
            <% total_score += score %>
          </p>
        </td>
      <% end %>
      <td>
        <%= total_score %>
      </td>
    </tr>
  <% end %>
</table>

