<b>Your submissions</b>
<table class="main_table">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th></th>
  </tr>

  <% @ai_submissions.each do |sub| %>
    <tr>
      <td> <%= sub.created_at.strftime("%b %d %Y, %H:%M") %> </td>
      <td> <%= sub.name %> </td>
      <td> <%= sub.active ? 'Active' : 'Inactive' %> </td>
      <td> <%= sub.active ? (can?(:deactivate, sub) ? (link_to 'Deactivate', deactivate_ai_submission_path(sub), :method => 'put') : "") : (link_to 'Activate', activate_ai_submission_path(sub), :method => 'put') %> </td>
    </tr>
  <% end %>
</table>
