<% content_for :title, "Roles" %>
<% toolbox_push :new, new_role_path %>

<table class="main_table hoverable selectable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <% if policy(Role).update? %>
        <th></th>
      <% end %>
      <% if policy(Role).destroy? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Show', role %></td>
        <% if policy(Role).update? %>
          <td><%= link_to 'Edit', edit_role_path(role) if policy(role).update? %></td>
        <% end %>
        <% if policy(Role).destroy? %>
          <td><%= link_to 'Destroy', role, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(role).destroy? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
