<p id="notice"><%= notice %></p>

<% content_for :title, @role.name %>
<% toolbox_push :edit, edit_role_path(@role) %>
<% toolbox_push :back, roles_path %>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
