pre {
  padding: 0px;
  font-size: 14px;
  border: 1px solid #D2D2D2;
  background-color: #EEE;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  counter-reset: line-numbering;
  position: relative;
  margin-left: 4.5ex;
}
pre > span {
  padding: 1px 0.5em 1px 0.5em;
  list-style: decimal-leading-zero;
  list-style-position: outside;
  display: block;
}

pre > span:nth-child(odd) {
  background-color: rgba(0,0,0,0.03);
}

pre > span:nth-child(even) {
  background-color: rgba(255,255,255,0.03);
}

pre > span[id^="line-"]::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  font-size: .75em;
  opacity: 0.7;
  left: -5.2ex;
  position: absolute;
  text-align: right;
  width: 4.5ex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

