ul.flip_menu {
  margin: 3px;
  text-align: center;
}

ul.flip_menu > li {
  display: inline-block;
  margin: 0 3px 0 3px;
  padding: 0;
}

ul.flip_menu > li > a {
  color: #000000;
  margin: 0;
  padding: 3px 5px 3px 5px;
  border: 1px solid #888888;
  background-color: #DDDDDD;
  white-space: nowrap;
}

ul.flip_menu > li > a:hover {
  color: #000000;
  background-color: #AAAAAA;
  text-decoration: none;
}

ul.flip_menu > li > a.selected {
  background-color: #AAAAAA;
  pointer-events: none;
  cursor: default;
}

