ul.samples {
  width: 100%;
  margin: 0;
  padding: 5px;
}

ul.samples > li {
  width: 100%;
  display: inline-block; /* in case flexboxes not supported */
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 1px dotted #CCC;
}

ul.samples > li:first-child {
  border-top: 1px dotted #CCC;
}

ul.samples .input, ul.samples .output {
  width: 50%;
  min-width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.samples > li h3 {
  margin-left: 5ex;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 0.5ex;
  margin-top: 1ex;
}

