* {
  margin: 0;
  padding: 0;
}

table.invis {
  border: 0;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
}

ul, ol {
  margin-left: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

html, body {
  height: 100%;
  font-family: Arial;
  color: #2D2D2D;
}

a {
  color: #2D2D2D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  width: 100%;
  height: 300px;
}

a.progress_link:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
  color: black;
}

#side {
  position: fixed;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #2D2D2D;
  color: white;
  z-index: 9;
}

#side-container {
  position: relative;
  height: 100%;
  left: 0px;
  right: 0px;
}

#side-minify {
  position: absolute;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 19px;
  right: 0px;
  padding: 6px;
  bottom: 10px;
  color: #666;
  background-color: #333;
  cursor: pointer;
  padding-right: 2px;
  z-index: 2;
}

#side-minify:hover {
  background-color: #EEE;
  color: #2D2D2D;
  border-right: 1px solid #F5F5F5;
}

#side-expanded {
  width: 100%;
  height: 100%;
}

#side-contracted {
  position: absolute;
  opacity: 0;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  vertical-align: middle;
}

#side-contracted img {
  position: absolute;
  top: 50%;
  margin-top: -175px;
}

#main {
  top: 30px;
  left: 200px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
}

#main-container
{
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
}

#footer {
  margin-left: 22px;
  text-align: left;
  position: absolute;
  height: 5em;
  bottom: 0;
}

#side-logo
{
  position: relative;
  padding: 10px;
}

#side-logo img {
  width: 100%;
}

#side-title {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  padding-bottom: 30px;
}

#main-page-title-box
{
  margin-right: 20px;
  border-bottom: 1px solid black;
}

#main-page-title-box > h1 {
  font-size: 2em;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-style: italic;
  margin: 0;
  padding: 10px 0px 8px 25px;
}

#main-toolbox {
  float: right;
  margin-right: -5px;
}

#main-toolbox > li, span.buttonbox {
  display: block;
  float: left;
  border: 2px solid rgba(0,0,0,0.5);
  background-color: #4040C0;
  margin: 4px;
  padding: 0;
  box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 1px 1px black;
  -o-box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 1px 1px black;
  -webkit-box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 1px 1px black;
  -moz-box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 1px 1px black;
}

#main-toolbox > li.gray, span.buttonbox.gray {
  background-color: #888888;
}

#main-toolbox > li.blue, span.buttonbox.blue {
  background-color: #4040C0;
}

#main-toolbox > li.green, span.buttonbox.green {
  background-color: #30B030;
}

#main-toolbox > li.red, span.buttonbox.red {
  background-color: #C04040;
}

#main-toolbox > li > a, span.buttonbox > button {
  display: block;
  float: left;
  font-weight: bold;
  color: white;
  font-family: 'Ubuntu';
  font-size: 16px;
  padding: 4px 10px 4px 10px;
  margin: -2px;
  text-shadow: 1px 1px black;
  background-color: rgba(0,0,0,0);
  border: none;
}

#main-toolbox > li > a:hover, span.buttonbox > button:hover {
  text-decoration: none;
  background-color: rgba(255,255,255,0.1);
}

#main-toolbox > li:hover, span.buttonbox:hover {
  box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 0 0 black;
  -o-box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 0 0 black;
  -webkit-box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 0 0 black;
  -moz-box-shadow: inset 0 3px 6px rgba(255,255,255,0.5), 0 0 0 black;
  position: relative;
  top: 1px;
}

#main-toolbox > li i:before, span.buttonbox i:before {
  color: white;
  margin: 0 4px -2px -3px;
  vertical-align: 0%;
  font-size: 20px;
}

#main-toolbox > li:first-line {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: -2px;
  margin-top: 14px;
  margin-bottom: 10px;
}

input, select {
  padding: 4px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 3px;
}

input[type="file"] {
  border: 1px solid #d2d2d2;
}

.paginated_section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.pagination a {
  border: 1px solid #2D2D2D;
  padding: 3px;
  margin: 1px;
  display: inline-block;
  min-width: 20px;
}

.pagination .current {
  padding: 3px;
  margin: 1px;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  min-width: 20px;
}

.pagination .disabled {
  padding: 3px;
  margin: 1px;
  display: inline-block;
  min-width: 20px;
  color: #888888;
}

.pagination .previous_page, .pagination .next_page {
  margin-left: 50px;
  margin-right: 50px;
  font-family: monospace;
}

#submission_judged {
    padding: 20px;
    font-size: 18pt;
    margin-bottom: 20px;
}

#submission_judged.green {
    background-color: #6FBF4D;
}

#submission_judged.orange {
    background-color: #FA6900;
}

.submission_details {
  border: 1px solid black;
  padding: 3px;
  background-color: rgb(45, 45, 45);
  color: white;
}
.submission_details b {
  color: white;
}
.submission_details_hider {
  padding: 3px;
  background-color: rgb(238, 238, 238);
}
.submission_details_prompt {
  background-color: rgb(238, 238, 238);
  height: 3px;
}
#submission_judged.red {
  background-color: #A91313;
  color: white;
}
.ui-datepicker {
  margin-top: 30px;
  font-size: smaller;
}
.ui-datepicker td {
  padding: 0;
}

.countdown.large {
  font-size: 36px;
}
