* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #2D2D2D;
}

ul, ol {
  margin-left: 30px;
  margin-bottom: 10px;
}

ul.tab_menu {
  margin: 0px;
}

p {
  margin-bottom: 10px;
}

html, body {
  height: 100%;
}

a {
  color: #2D2D2D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.progress_link:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
  color: black;
}

#side {
  position: fixed;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #2D2D2D;
  padding-left: 10px;
  color: white;
  z-index: 9;
}

#side-container {
  position: relative;
  height: 100%;
  left: 0px;
  right: 0px;
}

#menu {
  position: fixed;
  left: 210px;
  right: 0px;
  min-width: 500px;
  height: 25px;
  background: #2D2D2D;
  color: white;
  z-index: 10;
  white-space: nowrap;
}

#controls {
  float: right;
  margin-right: 10px;
}

#side-minify {
      position: absolute;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 19px;
      right: 0px;
  padding: 6px;
  bottom: 10px;
  color: #666;
  background-color: #333;
  cursor: pointer;
  padding-right: 2px;
      z-index: 2;
}

#side-minify:hover {
  background-color: #EEE;
  color: #2D2D2D;
  border-right: 1px solid #F5F5F5;
}

#side-expanded {
  width: 100%;
  height: 100%;
}

#side-contracted {
  position: absolute;
  opacity: 0;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  vertical-align: middle;
}

#side-contracted img {
  position: absolute;
  top: 50%;
  margin-top: -175px;
}

#main {
  margin-left: 200px;
  min-height: 100%;
  position: relative;
}

#content-container {
  padding-top: 25px;
  padding-bottom: 5em;
}

#main-message-container {
  margin: 10px;
  margin-left: 22px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  border: 1px solid #C1C1C1;
  text-align: center;
  background-color: #333;
  color: #FAFAFA;  
}

.message-container {
  margin: -10px;
  margin-bottom: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  border: 1px solid #C1C1C1;
  text-align: center;
  background-color: #333;
  color: #FAFAFA;  
}


#main-container
{
  margin: 10px;
  margin-left: 22px;
  padding: 10px;
}

#footer {
  margin-left: 22px;
  text-align: left;
  position: absolute;
  height: 5em;
  bottom: 0;
}

#main-message-container-close {
  float: right;
  background: #333;
  border: 1px solid #C1C1C1;
  border-left: none;
  color: white;
  padding-top: 3px;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  margin-right: -68px;
  margin-top: -30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}

#main-message-container-close:hover
{
  background-color: #666;
  color: black;
}

#alert
{
  background-color: #D2D2D2;
  padding: 5px;
  margin-bottom: 5px;
}

#side-logo
{
  position: relative;
  padding: 10px;
}

#side-logo img {
  width: 100%;
}

#side-title {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  padding-bottom: 30px;
}

.main_table, #main-container table{  
  border-collapse: collapse;
  border: 1px solid #DDD;
  width: 100%;
}

.main_table, #main-container  tr {
  border: 1px solid #DDD;
}

.main_table, #main-container  tr:hover {
  background-color: #EEE;
}

#main-container tr.emphasized {
  border: 2px;
  background-color: #BBBBBB;
  font-weight: bold;
}

#main-container  tr.emphasized:hover {
  background-color: #AAAAAA;
}

.main_table, #main-container th {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  padding-top: 2px;
}

.main-table-highlight {
  background-color: #D2D2D2;
}

.main-table-highlight:hover {
  background-color: #D2D2D2 !important;
} 


.main_table td {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #DDD;
  padding-top: 2px;
}

#main-page-title
{

  font-size: 2.5em;
  margin-bottom: 25px;
}

#main-container pre {
  padding: 4px;
  border: 1px solid #D2D2D2;
  background-color: #EEE;
  font-family: monospace;
  overflow-x: auto;
  margin-bottom: 10px;
}

#main-container code {
  background-color: #EEE;
  font-family: monospace;
  border: 1px solid #D2D2D2;
}

#main-container pre code {
  border: 0px;
}

#main-container h1, h2, h3, h4, h5, h6, h7 {
  margin-left: -2px;
  margin-top: 14px;
  margin-bottom: 2px;
}

input, select {
  padding: 4px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 3px;
}

input[type="file"] {
  border: 1px solid #d2d2d2;
}

.paginated_section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.pagination a {
  border: 1px solid #2D2D2D;
  padding: 3px;
  margin: 1px;
  display: inline-block;
  min-width: 20px;
}

.pagination .current {
  padding: 3px;
  margin: 1px;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  min-width: 20px;
}

.pagination .disabled {
  padding: 3px;
  margin: 1px;
  display: inline-block;
  min-width: 20px;
  color: #888888;
}

.pagination .previous_page, .pagination .next_page {
  margin-left: 50px;
  margin-right: 50px;
  font-family: monospace;
}

#submission_judged {
    padding: 20px;
    font-size: 18pt;
    margin-bottom: 20px;
}

#submission_judged.green {
    background-color: #6FBF4D;
}

#submission_judged.orange {
    background-color: #FA6900;
}

.submission_details {
  border: 1px solid black;
  padding: 3px;
  background-color: rgb(45, 45, 45);
  color: white;
}
.submission_details b {
  color: white;
}
.submission_details_hider {
  padding: 3px;
  background-color: rgb(238, 238, 238);
}
.submission_details_prompt {
  background-color: rgb(238, 238, 238);
  height: 3px;
}
#submission_judged.red {
  background-color: #A91313;
  color: white;
}
