table.results {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.results th {
  text-align: left;
}

.results td, .results th {
  padding: 2px 20px 2px 20px;
  vertical-align: top;
}

.results tbody.headings {
  border: 2px solid black;
  border-bottom: 0px;
}

.results tbody.summary {
  border: 2px solid black;
  font-size: larger;
}

.results tbody th.judgement {
  text-align: right;
}

.results tbody.compilation, .results tbody.test_set, .results tbody.summary {
  border-width: 2px;
  border-style: solid;
}

.results .compilation.status_success, .results .status_correct {
  background-color: #60C040; /* green */
  border-color: #306020;
}

.results .status_pending {
  background-color: #6060FF; /* blue */
  border-color: #303080;
}

.results .status_cancelled {
  background-color: #B0B0C0; /* grey/blue */
  border-color: #555560;
}

.results .status_partial {
  background-color: #C0C000; /* yellow */
  border-color: #606000;
}

.results .status_error {
  background-color: #FFA000; /* orange */
  border-color: #805000;
}

.results .status_signal, .results .status_runtime {
  background-color: #A00000; /* dark red */
  border-color: #500000;
}

.results .status_wrong, .results .status_timeout, .results .status_walltime, .results .status_memory {
  background-color: #E03030; /* red */
  border-color: #681818;
}

.results tr.test_case td {
  background-color: rgba(255,255,255,0.3);
}

.results tr.inspect_test > td {
  background-color: rgba(255,255,255,0.6);
}

.results .compilation td {
  background-color: rgba(255,255,255,0.5);
}

.score_10x { background-color: #60C040; }
.score_9x { background-color: #73C033; }
.score_8x { background-color: #86C026; }
.score_7x { background-color: #99C019; }
.score_6x { background-color: #ACC00C; }
.score_5x { background-color: #C0C000; }
.score_4x { background-color: #E0B000; }
.score_3x { background-color: #FFA000; }
.score_2x { background-color: #F58010; }
.score_1x { background-color: #EA5820; }
.score_0x { background-color: #E03030; }

.results .code {
  font-family: monospace;
  white-space: pre-wrap;
}

.results tbody.compilation td {
  padding: 10px;
}

.results .test_time, .results .test_memory, .results .judgement {
  white-space: nowrap;
}

.results .test_name {
  width: 100%;
}

.results .inspect_test table.inspect_output {
  width: 100%;
  border-spacing: 5px;
  table-layout: fixed;
}

.results .inspect_test table.inspect_output td {
  padding: 2px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results .inspect_test table td {
  background-color: rgba(255,255,255,0.3);
}

.results tr.inspect_test {
  display: none;
}

.results tr.test_case:hover + tr.inspect_test, .results tr.inspect_test:hover, .results tr.sample_case + tr.inspect_test:not(.status_correct) {
  display: table-row;
}

.results th.output_stats {
  font-weight: normal;
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}
