ul.tab_menu {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0px;
  margin-left: 10px;
  margin-top: 10px;
}

ul.tab_menu li {
  margin: 0;
  display: inline-block;
  padding: 0;
  min-width: 8em;
}

ul.tab_menu li a {
  margin: 2px;
  border: 0px;
  background: #D0E5D0;
  display: block;
  height: 18px;
  text-align: center;
  text-decoration: none;
  padding: 3px 10px 3px 10px;
  color: black;
  border-radius: 4px 4px 0px 0px;
}

ul.tab_menu li a.selected {
  margin-bottom: -1px;
  height: 21px;
  background: #A1CCA1;
  border: solid black;
  border-width: 1px 1px 0px 1px;
}

ul.tab_menu li a:hover {
  background: #91BC91;
}

.tab_box {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.tab_box h1, .tab_box h2, .tab_box h3, .tab_box h4, .tab_box h5 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-family: Helvetica, Arial;
}

.tab_box h1 {
  font-size: 15pt;
  text-decoration: underline;
}

.tab_box h2 {
  font-size: 14pt;
}

.tab_box h3 {
  font-size: 12pt;
}

.tab_box h4 {
  font-size: 11pt;
  font-style: italic;
}

.tab_box h5 {
  font-size: 10pt;
  font-style: italic;
}

