<p>Hello <%= @resource.name %>!</p>

<p>We've received a request to reset the password for your account with username: <%= @resource.username %></p>
<p>To reset your password, click the link below:</p>

<p><%= link_to nil, edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you did not make this request, you can safely ignore this email.</p>
<p>Your password won't be changed unless you access the link above and set a new one.</p>

<p>NZOI Training</p>
