name: Continuous Integration
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        ports: ["5432:5432"]
        env:
          #POSTGRES_DB: nztraintest # not required because script/install.bash creates the database
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports: ["6379:6379"]
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      RAILS_ENV: test
      DATABASE_URL: "postgresql://postgres:postgres@localhost:5432"

    steps:
      - uses: actions/checkout@v4

      - run: sudo apt-get install imagemagick libmagickwand-dev # required by the RMagick gem

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: bash script/install/config.bash --defaults
        env:
          DATABASE_INSTALL: false
          DATABASE_USERNAME: postgres
          DATABASE:
          TEST_DATABASE: nztraintest
          REDIS_INSTALL: false
          REDIS_PASS:
          SCHEDULE_BACKUPS: 0
          ISOLATE_ROOT: /
          ISOLATE_CGROUPS: false
          ISOLATE_BRANCH: v1.10.1

      - name: Back up db/schema.rb # it will be overwritten when install.bash runs migrate.bash; back up the original so we can check if it's up to date
        run: cp db/schema.rb db/schema.rb.git

      - run: AUTOCONFIRM=true script/install.bash
        env:
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres

      #- run: bundle exec rake db:test:load # not required because script/install.bash runs db:migrate
      - run: bundle exec rspec

      - name: Check that db/schema.rb is up to date
        run: |
          diff -u db/schema.rb.git db/schema.rb >&2 ||
            { echo "Error: db/schema.rb is out of date" >&2; exit 1; }

      - uses: coverallsapp/github-action@v2

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: sudo apt-get install imagemagick libmagickwand-dev # required by the RMagick gem

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: bundle exec standardrb --parallel
